.border-linear {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.88) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.skill-bg {
  background: linear-gradient(
    0.29deg,
    rgba(0, 0, 0, 0.08) 0%,
    rgba(153, 153, 153, 0.1) 100%
  );
  backdrop-filter: blur(4.544463157653809px)

}
